html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.inline {
  display: inline-block;
  margin-right: 1rem;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}

input {
  width: 100%;
  display: flex;
  min-width: max-content;
  align-items: center;
  position: relative;
  text-align: center;
}

p {
  display: inline-flex;
}
